mat-expansion-panel {
  width: 70%;
  margin: auto;
  margin-top: 3rem;
  background-color: rgba(0,0,0,0);;
  color: white;
  margin-bottom: 3rem;

  color: white;
  margin-bottom: 3rem;
  border: 1px #200D25 solid;
}

/* change the components display type to block */
:host {
  display: block;
  margin-top: 3rem;
  margin-bottom: 3 rem;
}

h1 {
  text-align: center;
  color: white;
  font-weight:500;
}
