/* body {
    background-image: url('wood.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(-180deg, #2b2b2b 0%, #000000 100%);
    overflow: auto;
    height: 100%;
    background-image: linear-gradient(-180deg, #0a0a0a 0%, #000000 100%);
    overscroll-behavior: none;
}

html {
    overflow: hidden;
    height: 100%;
    overscroll-behavior: none;
} */
