.navbar {
    background-color: black;
    color: white;
    border-bottom: 2px solid #9b33c1;
    border-top: 2px solid #9b33c1;
}

a {
    color: white;
}

button:hover{
  border-right: 2px solid #9b33c1;
  border-left: 2px solid #9b33c1;
}

.nav-link {
    text-transform: uppercase;
    font-weight: 150;
}

.navbar-brand {
    font-family: cursive;
}

li:hover {
    background-color: #181818;
    text-decoration: underline;
}

#toggler{
    background-color: yellow;
}
#icon{
    background-color: green;
}



