<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
<footer id="footer" class="footer-distributed">

<div class="footer-right">
  <a href="https://github.com/The-GitClub/booking-300"><i class="fa fa-github"></i></a>
</div>

<div class="footer-left">
  <h2>Booking300 Table Booking Application &copy; Copyright 2021</h2>
  <p>(Made by Aaron Dollard, Alan Regan, Matthew Mc Girl & Johnathon Mc Grory)</p>
</div>
</footer>
 -->
 <footer class="footer">
  <mat-toolbar class="footer" color="primary">

  </mat-toolbar>
</footer>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>
<div class="bs-component">
  <footer class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button mat-button ><mat-icon><i class="fa fa-github"> </i></mat-icon><a class="nav-link">GitHub Page</a></button>
        </li>
        <li class="nav-item">
          <button mat-button ><mat-icon><i class="fa fa-linkedin"> </i></mat-icon><a class="nav-link">Alan's LinkedIn</a></button>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <button mat-button ><a class="nav-link"><h3>Booking 300 Table Booking Application &copy; Copyright 2021</h3></a></button>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="nav-item">
          <button mat-button ><mat-icon><i class="fa fa-linkedin"> </i></mat-icon><a class="nav-link">Aaron's LinkedIn</a></button>
        </li>
        <li class="nav-item">
          <button mat-button ><mat-icon><i class="fa fa-linkedin"> </i></mat-icon><a class="nav-link">Johnathon's LinkedIn</a></button>
        </li>
        </ul>

    </div>
  </footer>
</div>
