


<link
rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
/>
<footer id="footer" class="footer-distributed">

<div class="footer-right">
  <a href="https://github.com/The-GitClub/booking-300"><i class="fa fa-github"></i></a>
</div>

<div class="footer-left">
  <h2>Booking300 Table Booking Application &copy; Copyright 2021</h2>
  <p>(Made by Aaron Dollard, Alan Regan, Matthew Mc Girl & Johnathon Mc Grory)</p>
</div>
</footer>
<!-- Demo ads. Please ignore and remove. -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.tutorialzine.com/misc/enhance/v2.js" async></script>
