<mat-accordion multi="false">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h1>Create A New Booking Here</h1>
    </mat-expansion-panel-header>
    <app-free-booking></app-free-booking>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h1>Register New Staff Here</h1>
    </mat-expansion-panel-header>
    <app-register-staff></app-register-staff>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h1>Register New Managers Here</h1>
    </mat-expansion-panel-header>
    <app-register-manager></app-register-manager>
  </mat-expansion-panel>
</mat-accordion>
