.date {
  width: 100%;
  border: 1px solid rgb(10, 73, 60);
  background-color: rgb(10, 73, 60);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  padding: 3px;
}
.main {
  padding: 0px;
}

.required {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.required2 {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}

/* .form-group{
  height: 5em;
} */

.booking-card {
  padding: 10px;
}


.label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-size: x-small;
  font-weight: bold;
}

.submit {
  background-color: rgb(10, 73, 60);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

.background {
  background-image: url(../../../../assets/images/background.jpg);
  background-repeat: no-repeat;
  background-color: rgb(5, 31, 5);
/*  background-size: cover;
  /* height: 100%;
  width: 100%; */
  position: fixed;
  right: 0;
  left: 0;
}

.container-fluid {
  background-color: aliceblue;
  height: 100%;
}

.header {
  text-transform: uppercase;
  font-size: x-large;
  color: rgb(7, 59, 7);
}


