<br>

  <div *ngIf="!_user.loggedIn()" class="col-sm-12">
    <div>
      <p class="lead">Welcome to Booking300. <br> You have successfully logged in to our system.</p>
      <hr class="my-4">
      <p>Create or view your bookings.</p>
      <p class="lead" style="color:white;">
        <button [routerLink]="['user/book']" class="btn btn-md buttons">Book A Table</button> &nbsp;
        <button [routerLink]="['user/view']" class="btn btn-md buttons">View Bookings</button>
      </p>
    </div>
  </div>

<br>



  <div *ngIf="_user.loggedIn()" class="col-sm-12">
    <div>
      <p class="lead">Welcome to Booking300. Please register or login below to start booking.</p>
      <hr class="my-4">
      <p>Login or Register</p>
      <p class="lead" style="color:white;">
        <button [routerLink]="['/login']" class="btn btn-md buttons">Login</button> &nbsp;
        <button [routerLink]="['/register']" class="btn btn-md buttons">Register</button>
      </p>
    </div>
  </div>
