
<br>
<h2 class="lol3 text-center">Table Reservation Software</h2>

<div class="form-container">

  <form #f="ngForm" class="update-form" (ngSubmit)="save(f)" novalidate>
    <div (click)="d.toggle()" class="date">
      Click to select available date
    </div>
    <input readonly type="text" name="date" id="booking.date" placeholder="..." class="form-control" ngbDatepicker #d="ngbDatepicker" ngModel
      (ngModelChange)="filterGuests(f); filterTime(f);" [markDisabled]="isDisabled" [minDate]="fullDate" required #booking.date="ngModel" />
    
    <label for="formGroupExampleInput" class="label">Select time</label>
    <select class="form-control" id="exampleFormControlSelect" name="time" ngModel required #booking.time="ngModel"
      (ngModelChange)="filterGuests(f);">
      <option value="" selected disabled hidden></option>
      <option *ngFor="let item of filteredOptions" [value]="item.value">
        {{ item.text }}
      </option>
    </select>
    <div class="required" *ngIf="fullCapacityError">We are at full capacity. Please choose another time.
    </div>
    <label for="formGroupExampleInput" class="label">Select guests</label>
    <select class="form-control" id="exampleFormControlSelect1" name="guests" ngModel required #booking.guests="ngModel">
      <option *ngFor="let item of filteredGuests;" [value]="item.value">
        {{ item.text }}
      </option>
    </select>
    <label for="formGroupExampleInput" class="label">Full name</label>
    <input type="text" id="booking.name" class="form-control" name="name" placeholder="{{booking?.name}}" ngModel required #booking.name="ngModel" />
    <label for="formGroupExampleInput" class="label">Email</label>
    <input type="text" id="booking.email" class="form-control" name="email" placeholder="{{booking?.email}}" email ngModel required #booking.email="ngModel" />
    <label for="formGroupExampleInput" class="label">Phone number</label>
    <input type="text" id="booking.phone" class="form-control" name="phone" placeholder="{{booking?.phone}}" ngModel required #booking.phone="ngModel" />
    <br>
    <label class="label">Food allergy or intolerances</label>&nbsp;&nbsp;
    <input type="checkbox" (click)="toggleShowAllergy()">
    <div *ngIf="ShowHideAllergy" class="label">
      ENTER GUESTS FOOD ALLERGY OR INTOLERANCE
      <input maxlength="50" size="3" type="text" id="booking.allergy" class="form-control" placeholder="{{booking?.allergy}}" name="allergy" ngModel #booking.allergy="ngModel" />
    </div>
    <button type="submit" class="btn submit" [disabled]="!f.valid">Submit Updated Booking</button>
  </form>
