<br>
<div class="">
    <h2 class="lol3 text-center">Restaurant Details</h2>
  </div>

  <mat-toolbar *ngIf="successMsg">
    <mat-toolbar-row>
        <span class="toolbar">{{ successMsg }}</span>
      </mat-toolbar-row>
    </mat-toolbar>

<div *ngIf="!errorMsg">
    <table mat-table [dataSource]="restaurant" class="mx-auto">
        <ng-container matColumnDef="restaurantName">
            <th mat-header-cell *matHeaderCellDef>Restaurant Name</th>
            <td mat-cell *matCellDef="let restaurant">{{ restaurant?.restaurantName }} </td>
        </ng-container>

        <ng-container matColumnDef="restaurantEmail">
            <th mat-header-cell *matHeaderCellDef>Restaurant Email</th>
            <td mat-cell *matCellDef="let restaurant">{{ restaurant?.restaurantEmail }} </td>
        </ng-container>

        <ng-container matColumnDef="restaurantPassword">
            <th mat-header-cell *matHeaderCellDef>Restaurant Passowrd</th>
            <td mat-cell *matCellDef="let restaurant">{{ restaurant?.restaurantPassword }} </td>
        </ng-container>

        <ng-container matColumnDef="capacity">
            <th mat-header-cell *matHeaderCellDef>Capacity (Per Hour)</th>
            <td mat-cell *matCellDef="let restaurant">{{ restaurant?.capacity }} </td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef>Update</th>
            <td style mat-cell *matCellDef="let restaurant"> <button [routerLink]="['update', restaurant._id]"
                    class="btn buttons">Update</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let restaurants; columns: columns"></tr>
    </table>
</div>

<br>


  <form #f="ngForm" class="date mx-auto form-horizontal">
    <div style="width: 24%;" class="input-group mx-auto">
  <div (click)="d.toggle()" class="mx-auto">
  <input style="width: 100%;" type="search" name="date" placeholder="Search by date" class="form-control" ngbDatepicker #d="ngbDatepicker" ngModel
  (ngModelChange)="filterDate(f)" #date="ngModel" /> 
</div>
<div class="mx-auto">
  <input style="width: 100%;" type="search" name="search" placeholder="Search by name" class="form-control" ngModel
  (ngModelChange)="filterName(f)" #name="ngModel" />
</div>
</div>
</form>

  <br>
<div *ngIf="!errorMsg">
    <table mat-table [dataSource]="filteredBookings" class="mx-auto">
      
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let booking">{{ booking?.date?.day }}/{{ booking?.date?.month }}/{{ booking?.date?.year }} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let booking">{{ booking?.name }} </td>
        </ng-container>

        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let booking">{{ booking?.time }} </td>
        </ng-container>

        <ng-container matColumnDef="guests">
            <th mat-header-cell *matHeaderCellDef>Guests</th>
            <td mat-cell *matCellDef="let booking">{{ booking?.guests }} </td>
        </ng-container>

        <ng-container matColumnDef="allergy">
            <th mat-header-cell *matHeaderCellDef>Notes</th>
            <td mat-cell *matCellDef="let booking">{{ booking?.allergy }} </td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef>Update</th>
            <td style  mat-cell *matCellDef="let booking"> <button [routerLink]="['update', booking._id]" class="btn buttons">Update</button></td>
        </ng-container>

        <ng-container matColumnDef="cancel">
            <th mat-header-cell *matHeaderCellDef>Cancel</th>
            <td mat-cell *matCellDef="let booking"> <button (click)="cancelBooking(booking._id)" class="btn buttons">Cancel</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="bookingcolumns"></tr>
        <tr mat-row *matRowDef="let filteredBookings; columns: bookingcolumns"></tr>
    </table>
</div>