<br>
<div class="">
    <h2 class="lol3 text-center">Restaurant Details</h2>
  </div>

<div *ngIf="!errorMsg">
    <table mat-table [dataSource]="restaurant" class="mx-auto">
        <ng-container matColumnDef="restaurantName">
            <th mat-header-cell *matHeaderCellDef>Restaurant Name</th>
            <td mat-cell *matCellDef="let restaurant">{{ restaurant?.restaurantName }} </td>
        </ng-container>

        <ng-container matColumnDef="restaurantEmail">
            <th mat-header-cell *matHeaderCellDef>Restaurant Email</th>
            <td mat-cell *matCellDef="let restaurant">{{ restaurant?.restaurantEmail }} </td>
        </ng-container>

        <ng-container matColumnDef="capacity">
            <th mat-header-cell *matHeaderCellDef>Capacity (Per Hour)</th>
            <td mat-cell *matCellDef="let restaurant">{{ restaurant?.capacity }} </td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef>Update</th>
            <td style mat-cell *matCellDef="let restaurant"> <button [routerLink]="['update', restaurant._id]"
                    class="btn buttons">Update</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let restaurants; columns: columns"></tr>
    </table>
</div>