// src/styles.scss

@font-face {
  font-family: 'Custom Logo';
  src: url('./assets/images/Fonts/Sweet\ Salssa.ttf') format('truetype');
}


@font-face {
  font-family: 'Custom Header';
  src: url('./assets/images/Fonts/ostrich-sans/OstrichSansRounded-Medium.otf') format('truetype');
}

.lol2 {
  font-family: 'Custom Logo' !important;
  font-size: 2em !important;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.lol3 {
  font-family: 'Custom Header' !important;
  font-size: 2.5em !important;
  color: rgb(146, 146, 146);
}

// Custom Theming for Angular Material

// For more information: https://material.angular.io/guide/theming

@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$theming-material-components-primary: mat-palette($mat-deep-purple);
$theming-material-components-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).

$theming-material-components-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).

$theming-material-components-theme: mat-light-theme(
  $theming-material-components-primary,
  $theming-material-components-accent,
  $theming-material-components-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($theming-material-components-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-image: linear-gradient(-180deg, #000000 0%, #250f2c 100%);

}


.backdropBackground {
  background-image: url("https://images.unsplash.com/photo-1510416096143-b3f355567e3d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
}


.mat-expansion-indicator::after {
  color: white;
}

.mat-expansion-panel-content::after {
  color: white;
  outline: white;
  border-style: solid;
  border-color: aliceblue;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.white-snackbar {
  background: white;
  color: #000000;
  font-weight: bold;
}
