<div class="container-fluid mx-auto">
    <div class="background">
     
        <div class="">
          <br>
          <h2 class="header text-center">Table Reservation Software</h2>
        </div>
        <div class="col-md-3 col-sm-12 mx-auto">
          <br /><br />
          <div class="card booking-card">
            <form #f="ngForm" (ngSubmit)="save(f)" novalidate>
              <div class="form-group">
                <label for="formGroupExampleInput" class="label">Set Capacity</label>
                <input
                  type="text"
                  class="form-control"
                  name="capacity"
                  placeholder="{{restaurant?.capacity}}"
                  ngModel
                  required
                  #restaurant.capacity="ngModel"
                />

              </div>

              <div class="form-group">
                <label for="formGroupExampleInput" class="label">Set Restaurant Email</label>
                <input
                  type="text"
                  class="form-control"
                  name="restaurantEmail"
                  placeholder="{{restaurant?.restaurantEmail}}"
                  ngModel
                  required
                  #restaurant.restaurantEmail="ngModel"
                />

              </div>

              <div class="form-group">
                <label for="formGroupExampleInput" class="label"> Restaurant Email Password</label>
                <input
                  type="text"
                  class="form-control"
                  name="restaurantPassword"
                  placeholder="{{restaurant?.restaurantPassword}}"
                  ngModel
                  required
                  #restaurant.restaurantEmail="ngModel"
                />

              </div>

              <!-- <div class="form-group">
                <label for="formGroupExampleInput" class="label">Set Restaurant Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="restaurantName"
                  placeholder="{{restaurant?.restaurantName}}"
                  ngModel
                  required
                  #restaurant.restaurantName="ngModel"
                />

              </div> -->
            
  
              
              <button type="submit" class="btn submit">Submit</button>
            </form>
          </div>
          <br /><br />
        </div>
  
      </div>
      </div>
  