<br>
<h4 class="text-center">Your Bookings</h4>
<mat-toolbar *ngIf="successMsg" color="accent"> {{ successMsg }} </mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn"> {{ errorMsg }} </mat-toolbar>


<div class ="mx-auto" *ngIf="!errorMsg">
    <table mat-table [dataSource]="booking" class="mat-elevation-z8">
        <ng-container matColumnDef="bookingDate">
            <th mat-header-cell *matHeaderCellDef>Booking Date</th>
            <td mat-cell *matCellDef="let booking"> {{ booking?.bookingDate | date:'dd/MM/yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef>Time</th>
            <td mat-cell *matCellDef="let booking"> {{ booking?.time }} </td>
        </ng-container>

        <ng-container matColumnDef="table">
            <th mat-header-cell *matHeaderCellDef>Table Number</th>
            <td mat-cell *matCellDef="let booking"> {{ booking?.table }} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let booking"> {{ booking?.name }} </td>
        </ng-container>

        <ng-container matColumnDef="guests">
            <th mat-header-cell *matHeaderCellDef>Number of Guests</th>
            <td mat-cell *matCellDef="let booking"> {{ booking?.guests }}</td>
        </ng-container>

        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef>Update</th>
            <td style="width: 1%; padding-right: 1%;" mat-cell *matCellDef="let booking"> <button [routerLink]="['update', booking._id]" mat-raised-button color="warn">Update</button></td>
        </ng-container>

        <ng-container matColumnDef="cancel">
            <th mat-header-cell *matHeaderCellDef>Cancel Booking</th>
            <td mat-cell *matCellDef="let booking"> <button (click)="cancelBooking(booking._id)" mat-raised-button color="warn">Cancel</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let bookings; columns: columns"></tr>

    </table>
    




        </div>
      